.Call{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.Call .Title-Container{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.Call .Title-Container .Pending{
    align-self: center;
    display: block;
}

.Call .Title-Container .Stable{
    align-self: center;
    display: block;
}

.Call .Content img{
    width: 25%;
    padding: 1em;
    transition: 0.3s;
}


/*.Call img:hover{*/
/*    cursor: pointer;*/
/*}*/


.Call .Content{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Call .Police-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    color:#E84F70;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    
}
.Call .Police-Container img{
    opacity: 0.7;
}

/*.Call .Content ol{*/
/*    font-size: 0.5em;*/
/*    width: 200px;*/
/*    word-wrap: break-word;*/
/*}*/

.Call .CoResponder-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #F2C46D;
    margin: auto;
    transition: transform 0.5s ease-in-out;
}
.Call .CoResponder-Container img{
    opacity: 0.7;
}

.Call .NoIssue-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #41D9A1;
    margin: auto;
    transition: transform 0.5s ease-in-out;
}

.Call .NoIssue-Container img{
    opacity: 0.7;
}

.Call .AltResponse-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #268EA6;
    margin: auto;
    transition: transform 0.5s ease-in-out;
}

.Call .AltResponse-Container img{
    opacity: 0.7;
}